body{
    /* width: 60%; */
    margin: auto;
}
header{
    width: 100%;
    left: 0 ;
    top: 0;
    background-color: #fff;
    height: 60px;
    /* position: fixed; */
}
input{
    background-color: var(--border);
    border:solid var(--border);
    border-radius: 8px;
    border-color: var(--border);
}
input:focus{
    outline: none !important;
    border-color: var(--border);
}
header .headerContent{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
}
header .logo-input{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

header .logo-input .logo{
    display: flex;
}
header .logo-input .logo p{
    transform: translateY(35%);
}
header .logo-input form{
    height: 40px;
    width: 600px;
    background-color: var(--whiteColor);
    box-sizing: border-box;
    display: flex;
    background-color: var(--border);
    border-radius: 8px;
    margin: auto;
    position: relative;
    /* transform: translatex(5%); */

}
header .logo-input form label{
    width: 30px;
    margin: auto 10px;
    color: var(--inputText);
}
header .logo-input form input{
    height: 40px;
    width: 600px;
    background-color: var(--border);
    border:solid var(--border);
    border-radius: 8px;
    border-color: var(--border);
}